{% extends "global/Page.html" %}

{% block title %}
    Looping over List in Template
{% endblock %}
{% block content %}


<table>
    <tbody>

        {% for  name in list_1 %}
            <tr>
                <td>
                    1
                </td>
                <td>
                    {{ name }}
                </td>
            </tr>
        {% endfor %}

        {% for  name in list_2 %}
            <tr>
                <td>
                    2
                </td>
                <td>
                    {{ name }}
                </td>
            </tr>
        {% endfor %}

        {% for  name in list_3 %}
            <tr>
                <td>
                    3
                </td>
                <td>
                    {{ name }}
                </td>
            </tr>
        {% endfor %}

        {% for  name in list_4 %}
            <tr>
                <td>
                    4
                </td>
                <td>
                    {{ name }}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock %}
